.cell {
  flex: 0 0 32%;
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
  margin-bottom: 1px;
  color: #980f98f5;
  border: 1px solid #a25aaf0f;

  .cell_inner {
    height: 80px;
    width: 80px;
    max-height: 100%;
    max-width: 100%;
  }

  .no_select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .mark_x {
    color: rgb(16, 78, 87);
  }
  .mark_o {
    color: rgb(255, 0, 170);
  }

  .avoid_move {
    animation: avoidMove 2s ease-in-out;
    color: white;
  }

  .ahead_move {
    animation: aheadMove 2s ease-in-out;
    background-color: transparent;
    color: white;
  }
}

@keyframes aheadMove {
  0% {
    background-color: transparent;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes avoidMove {
  0% {
    background-color: transparent;
  }

  80% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}
