.App {
  text-align: center;
}
.app-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.player-message-container{
  height: 96px;
}
.tie-message-container{
  height: 40px;
}


.player-label {
  display: block;
  padding: 10px;
  width: 138px;
  background: #3b4e5d;
}
.winner {
  background: #217935;
}

.tie {
  display: block;
  background: #702179;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: italic;
  padding: 5px;
  width: 148px;
}

.grid {
  display: flex;                      
  flex-wrap: wrap;                    
  justify-content: space-around;
  width: 160px;
  
}
.cell {
  flex: 0 0 32%;    
  height:50px; 
  width:50px;                  
  max-height:50px;
  max-width:50px;
  margin-bottom: 1px;
  background-color:paleturquoise;
  color:#980f98f5;
  border: 1px solid black;
  
}
.cell__inner {
  height:50px; 
  width:50px;  
  max-height:100%;
  max-width:100%;
  padding-top: 6px;
}
.mark-X{
  color:rgb(16, 78, 87)
}
.mark-O {
  color: rgb(255, 0, 170);
}

.winCell {
  background-color: green !important;
  color: white;
}

.new-game-container{
  width: 100%;
  height: 80px;
}
.btn__new-game{
  margin-top: 50px;
  width: 160px;
  height: 40px;
  background-color: orange;
  color: white;
  font-weight: 600;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
